.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.root svg {
  width: 50%;
  height: 50%;
  fill: var(--accent-squant);
}

.small {
  width: var(--width-icon-small);
  height: var(--width-icon-small);
  padding: 2px;
}

.medium {
  width: var(--width-icon-medium);
  height: var(--width-icon-medium);
  padding: 2px;
}

.large {
  width: var(--width-icon-large);
  height: var(--width-icon-large);
  padding: 3px;
}

.root.asc svg:nth-child(2),
.root.desc svg:nth-child(3) {
  fill: var(--accent-darker-cyan);
}
