:root {
  /* Box Shadows */
  --shadow-1: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);

  /* Z-Index */
  --z-index-1: 1;
  --z-index-1000: 1000;
  --z-index-2000: 2000;
  --z-index-3000: 3000;
  --z-index-4000: 4000;
  --z-index-5000: 5000;
  --z-index-6000: 6000;
  --z-index-7000: 7000;
  --z-index-8000: 8000;
  --z-index-9000: 9000;

  --z-index-calendar: var(--z-index-6000);
  --z-index-dropdown: var(--z-index-6000);
  --z-index-navbar: var(--z-index-7000);
  --z-index-modal: var(--z-index-8000);
  --z-index-banner: var(--z-index-9000);

  /* Heights */
  --height-navbar-desktop: 72px;
  --height-navbar-mobile: 56px;
  --height-input: 48px;
  --height-input-mobile: 40px;

  /* Widths */
  --width-navbar-menu-mobile: 235px;
  --width-icon-small: 24px;
  --width-icon-medium: 32px;
  --width-icon-large: 40px;
  --width-calendar: 262px;

  /* Padding */
  --top-padding-mobile-navbar-link: 12px;
  --padding-side-input: var(--spacing-s);

  /* Inter Component Spacing */
  --spacing-icon-input: var(--spacing-xs);
}
