.root {
  --tabs-gap: var(--spacing-l);
  --tabs-margin-top: var(--spacing-xs);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--tabs-gap);
  margin-top: var(--tabs-margin-top);
}
